@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Zen Dots', cursive;
}

html {
	&::-webkit-scrollbar {
		width: 14px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: gray;
		border-radius: 20px;
		border: 3px solid white;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: rgb(149, 149, 149, 0.7);
	}
}

a {
	text-decoration: none;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}
